<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List Details</title>
  </head>
  <body>
    <main>
        <div>
            <h1>{{ todo_instance.name }}</h1>
            <p><a href="{% url 'todo_list_update' todo_instance.id %}">Edit</a>
            </p>
            <p><a href="{% url 'todo_list_delete' todo_instance.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in todo_instance.items.all %}
                    <tr>
                    <td>
                        <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                    </td>
                    <td>{{ item.due_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </main>
      </body>
    </html>
